@using Capstone.Web.Models;
@model NationalPark

@{
    ViewBag.Title = "FavoriteParks";
    Layout = "~/Views/Shared/shared_layout.cshtml";
}

<section class="centeredPanel">

    <h2>Favorite Parks</h2>

</section>