@using Capstone.Web.Models;
@model Dictionary<List<string>, int>

@{
    ViewBag.Title = "FavoriteParks";
    Layout = "~/Views/Shared/shared_layout.cshtml";
}

<section class="centeredPanel">

    <h2 class="fav_header">Favorite Parks</h2>

    <div>
        @foreach (KeyValuePair<List<string>, int> park in Model)
        {
            <div class="fav_name">@park.Key[0]</div>
            <div class="survey_count">(Surveys Submitted: @park.Value)</div>

            <div style="display: inline-block;">
                <img src="@("/Content/img/parks/" + park.Key[1].ToLower() + ".jpg")" class="fav_img" />
            </div>

            <div></div>
            <hr />
        }
    </div>



</section>