<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>National Park Geek</title>
    <link rel="stylesheet" href="~/Content/stylesheet.css">
</head>

<body>
    <header>
        <img src="~/Content/img/logo.png" alt="National Park Geek Logo" style="width: 200px;" />
    </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "HomePage", "Home")</li>
            <li>@Html.ActionLink("Survey", "SurveyView", "Home")</li>
        </ul>
    </nav>
    
    <div class="body">
        @RenderBody()
    </div>

</body>
</html>
