nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

    nav ul li {
        border-radius: 8px;
        list-style: none;
        text-align: center;
        flex-grow: 1;
        padding-top: 5px;
        padding-bottom: 10px;
        margin: 0 10px;
        max-width: 200px;
        font-size: 30px;
        background-color: peachpuff;
    }

li a:hover {
    text-decoration: underline;
}

.main_header{
    background-color: peru;
}

section.centeredPanel {
    background-color: #6f4e37;
    vertical-align: top;
    text-align: center;
    width: 90%;
    margin: 20px auto;
}

.home_header {
    font-size: 40px;
    padding-bottom: 0px;
    border-bottom: 0px;
}

.home_img {
    border: 10px black;
}

.home_description {
    width: 46%;
    padding-left: 305px;
    font-size: 20px;
}

.park_name {
    font-size: 50px;
    color: wheat;
    text-decoration: none;
    vertical-align: middle;
    text-wrap: normal;
    margin-bottom: 10px;
}

.home_state {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 15px;
}

body {
    background-color: #003C00;
}

.detail_table {
    font-size: 25px;
    background-color: burlywood;
    margin-left: 400px
}

.detail_quote {
    font-size: 22px;
}

.detail_info {
    font-size: 25px;
    background-color: burlywood;
    width: 50%;
    margin-left: 275px;
}

.detail_description {
    font-size: 23px;
    width: 46%;
    padding-left: 305px;
    margin-bottom: 30px;
}

.weather_high {
    font-size: 30px;
    color: #FF0800;
    margin: 0px;
}

.weather_low {
    font-size: 30px;
    color: deepskyblue;
    margin-top: 0px;
}
